@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html {
  font-size: 10px;
  font-family: "Lato", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.postCont {
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  margin: 5%;
}
.postComments {
  display: flex;
  justify-content: center;
  align-items: center;
}
article {
  background-color: #212121;
}
