@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html {
  font-size: 10px;
  font-family: "Lato", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.postCont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  margin: 2.5%;
}
.postComments {
  display: flex;
  justify-content: center;
  align-items: center;
}
.post {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  margin: 5%;
  background-color: #212121;
  text-align: center;
}
.comment {
  text-align: center;
  margin: 2%;
  background-color: aliceblue;
  border-radius: 15px;
}
.postTitle {
  color: aliceblue;
  text-decoration: underline;
  font-size: 2rem;
}
.postBody {
  color: rgb(255, 166, 0);
  font-size: 1.5rem;
}
.maintitle {
  font-size: 3rem;
  margin-bottom: -7%;
}
